*
!*/
!/CHANGELOG.md
!/README.md
!/acsil/sierra_mcp_bridge.cpp
!/config.example.json
!/docs/connections.md
!/docs/installation.md
!/docs/limitations.md
!/pyproject.toml
!/schemas/bridge-config.schema.json
!/schemas/snapshot-v1.schema.json
!/scripts/Set-EntraClientSecret.ps1
!/scripts/Start-EntraBridge.ps1
!/scripts/export_schemas.py
!/scripts/test.ps1
!/src/sierra_mcp_bridge/__init__.py
!/src/sierra_mcp_bridge/auth.py
!/src/sierra_mcp_bridge/config.py
!/src/sierra_mcp_bridge/contracts.py
!/src/sierra_mcp_bridge/discovery.py
!/src/sierra_mcp_bridge/guidance.py
!/src/sierra_mcp_bridge/operating_guide.md
!/src/sierra_mcp_bridge/reader.py
!/src/sierra_mcp_bridge/server.py
!/src/sierra_mcp_bridge/setup.py
!/src/sierra_mcp_bridge/timeframe.py
!/tests/conftest.py
!/tests/fixtures/snapshot.json
!/tests/test_discovery.py
!/tests/test_entra.py
!/tests/test_history.py
!/tests/test_mcp.py
!/tests/test_metadata_guidance.py
!/tests/test_reader.py
!/tests/test_setup.py
!/tests/test_timeframe.py
!/uv.lock
!/.gitignore
!/scripts/Exposure-Common.ps1
!/scripts/Start-SierraMCPExposure.ps1
!/scripts/Stop-SierraMCPExposure.ps1
!/connection.example.json
!/tests/test_exposure.ps1
!/src/sierra_mcp_bridge/windows_service.py
!/scripts/Run-SierraMCPService.ps1
!/scripts/Manage-SierraMCPService.ps1
!/tests/test_windows_service.py
!/docs/service_setup.md
!/scripts/test-native.ps1
!/tests/export_identity_native.cpp
!/tests/test_export_identity.py
!/src/sierra_mcp_bridge/chart_inventory.py
!/tests/test_chart_inventory.py
!/docs/discovery.md
!/LICENSE
!/THIRD_PARTY.md
!/CONTRIBUTING.md
!/docs/first_install_test.md
